/* Header do Formulario (Cadastrar Local / Adicionar Perspectiva) */
.header-form {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 8px;
  background: #00bcd4;
  color: white;
  
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  max-width: 500px; 
  margin: 0 auto;
  box-sizing: border-box; 
}
.header-form h2 {
    color: white;
    margin: 0;
    font-size: 1.2rem;
}

.voltar {
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.subtitulo {
  padding: 0 16px;
  color: #555;
  max-width: 500px;
  margin: 10px auto 20px auto;
}

.form {
  max-width: 500px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 65px;
  
  /* Margem para dar Espaço ao Header-Form Fixo */
  margin-top: 65px; 
}

.btn-salvar {
  background: #ff7a00;
  color: white;
  padding: 14px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

/* Estilo do Formulário de Cadastro de Local */
.upload-area {
  height: 180px;
  border: 2px dashed #00bcd4;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00bcd4;
  cursor: pointer;
}

.upload-area input { display: none; }